<%- include('header') %>

<main>
    <header>
        <h1>Biens Immobiliers</h1>
    </header>
    <section class="properties">
        <h2>Nos Propriétés</h2>
        <p>Voici quelques-unes de nos propriétés disponibles :</p>
        <ul>
            <% properties.forEach(property => { %>
                <li>
                    <a href="/property/<%= property.id %>"><%= property.title %> - <%= property.address %></a>
                </li>
            <% }); %>
        </ul>
    </section>
</main>

<%- include('footer') %>
